#Database Configuration
DATABASE_URL=

#JWT Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

#System Configuration
PORT=
NODE_ENV=development

# VNPAY Configuration
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=

#REDIS Configuration
REDIS_URL=
BOOKING_LOCK_TIME_MINUTES=

#FRONTEND
FRONTEND_URL=

# AI
GROQ_API_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=GOCSPX-
GOOGLE_CALLBACK_URL=backend_url/auth/google/callback

# Resend Email
RESEND_API_KEY=re_79aWWNtQ_QLKhnpLR8xvtFCf4Ms6bW8q
MAIL_FROM= 
